.header{
    padding: 1% 0 1% 0;
    color: #ddd;
    background-color: #000080;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.options{
    text-align: center;
    font-style: italic;
}

.modify_book_btn{
    color: orange;
}

.delete_book_btn{
    color: red;
}


.open_form_btn{
    background-color: #dddddd;
    color: #F5F5F5;
}

.author, .title{
    font-weight: 800;
    padding-left: 6%;
}

.description{
    display: none;
    padding: 1% 2% 1% 2%;
    font-style: italic;
}

.hr{
    height: 1px;
    border-top: 1px dashed #000;
    width: 100%;
    margin: 1% 0 1% 0;
}

#add_book_div{
    margin: 20px 0 20px 0;
    display: none;
}